#navLink, a{
  color: white;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;

}

#menuList {
  padding: 10px;
  cursor: pointer;
  list-style: none;
  position: absolute;
  top: 65%;
  background-color: black;
  width: 12%;
  z-index: 2;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-tabs-container{
  margin-top: 10px;
}

.nav-container .drawer-trigger,
.nav-container .responsive-drawer {
  display: none;
}

.close-button {
  position: absolute;
  margin-top: 10px;
  left: 5%;
  cursor: pointer;
  width: 10px;
  height: 10px;
}

.sideBarContainer{
  background-image: linear-gradient(to top,#732c7b, #36409e);
  height: 100%;
}

.sideBarList{
  width: 300px;
  margin-top: 10%;
}

.sideBarList ul{
  margin-left: 10%;
  list-style: none;
  color: black;
}

.sideBarList li{
  margin: 20px 0;
}

.sideBarList a{
  color: white;
  font-size: 25px;
}

.sideBarMenu a{
  margin: auto;
  font-size: 20px;
}

.heartIcon{
  color: white;
  margin-left: 20px;
}

#icon{
  font-size: 35px;
}

@media (max-width: 1200px) {
  .nav-container .nav-tabs-container {
    display: none;
  }

  .nav-container .drawer-trigger {
    display: block;
  }

  .nav-container .responsive-drawer {
    display: block;
  }

  .nav-container .heartIcon{
    display: block;
  }
}

@media (max-width:768px) {

  .heartIcon{
    margin-left: 0px;
  }
}

@media(max-width:600px){
  nav #icon{
    font-size: 25px;
  }

  .heartIcon{
    margin-top: 5px;
  }
}

@media(max-width:414px) {
   nav #icon{
    margin-bottom: 5px;
  }
}