.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 50px;
}

.newsDescription {
  color: white;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 100%;
  }
}

@media screen and (max-width: 586px) {
  .footer Button{
    width: 70%;
  }
}