.cart #icon{
  color: white;
  font-size: 35px;
}

.cart-closed{
  margin-left: 10%;
}

.cartContainer{
  background-color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  right:0;
  z-index: 2;
  width: 40%;
  height: 100%;
  overflow-y: scroll;
}

.titleContainer {
  display: flex;
  justify-content: center;
}

.closeBtn{
  cursor: pointer;
  position: absolute;
  right: 10%;
  font-weight: bold;
}

hr{
  width: 75%;
  margin:10px auto 20px;
  border: 1px solid;
}
section strong{
  display: flex;
  justify-content: center;
}

.loginAndArrivalBtn{
  background-image: linear-gradient(to top,#732c7b, #36409e);
  font-size: 17px;
  color: white;
  padding: 10px;
  border-radius: 20px;
  border: none;
  width: 50%;
  &:hover{
    filter: brightness(80%);
  }
}

.newArrivalsBtn a{
  margin-right: 0%;
}

.checkoutBtn{
  border: none;
  font-size: 17px;
  padding: 10px;
  border-radius: 20px;
  background-image: linear-gradient(to top,#732c7b, #36409e);
  color: white;
  &:hover{
    filter: brightness(80%);
  }
}

@media(max-width:840px){
  .cartContainer{
    width: 80%;
  }
}

@media (max-width:768px){
  .cart-closed{
    margin-left: 0;
  }

  .titleContainer h4{
    margin-left: 390px;
  }

  section .totalContainer{
    margin-left: 125px;
    width: 300px;
  }

  .emptyCart{
    margin-left: 33%;
  }
  
}

@media(max-width:700px) {
  .titleContainer h4{
    margin-right: 40px;
  }
}

@media(max-width:650px) {
  .cartContainer{
    width: 100%;
  }

  .titleContainer h4{
    margin-right: -20px;
  }
}

@media(max-width:600px){
  .cart #icon{
    font-size: 25px;
  }

  .titleContainer h4{
    margin-right: 10px;
  }
}

@media(max-width:550px){
  .titleContainer h4{
    margin-right: 40px;
  }
}

@media(max-width:500px){
  .titleContainer h4{
    margin-right: 70px;
  }

  section .totalContainer{
    margin-left: 180px;
    width: 105px;
  }
}

@media(max-width:450px){
  .titleContainer h4{
    margin-right: 120px;
  }
}

@media(max-width:414px){
  .cart #icon{
    font-size: 25px;
  }
  
  .titleContainer h4{
    margin-right: 80px;
  }

  section .totalContainer{
    margin-left: 140px;
    width: 105px;
  }

  .emptyCart{
    margin-left: 40%;
  }

  .emptyCart .newArrivalsBtn{
    width: 100px;
    position: absolute;
    right: 160px;
  }
}