.container {
  position: relative;
}

.MissingOrder {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  margin: 10px 0;
  width: 400px;
  height: 300px;
}

.MissingOrder p {
  font-size: 15px;
  margin-top: 17px;
}

@media screen and (max-width: 768px){
  .MissingOrder Button {
    margin-top: 10%;
  }
}

@media screen and (max-width: 768px) {
  .MissingOrder {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .MissingOrder {
    width: 45%;
    margin-right: 2%;
  }
}

@media screen and (max-width: 576px) {
  .MissingOrder Button {
    margin-top: 5%;
  }
}

@media screen and (max-width: 476px) {
  .MissingOrder {
    width: 50%;
  }
}

@media screen and (max-width: 429px) {
  .MissingOrder {
    width: 53%;
  }
}