header{
  padding: 15px;
}

a{
  text-decoration: none;
}

.container section{
  padding: 0;
}

section h1{
  color: white;
  font-family: 'Rubik', sans-serif;
}

.icons-container #icon{
  margin-right: 15px;
  color: white;
}

.icons-container{
  margin-left: 40%;
  margin-top: 10px;
}

.icons-container #icon{
  font-size: 35px;
}

a h1{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-family: 'Sixtyfour', sans-serif;
  font-size: 36px;
}

@media(max-width:1399px){
  a h1{
    margin-left: 80px;
  }
}

@media (max-width: 1200px){
  .icons-container .heartIcon {
    display: none;
  }

  a h1{
    margin-left: 0px;
  }
}


@media(max-width:1000px){
  a h1{
    font-size: 30px;
  }

  .icons-container{
    margin-left: 100px;
  }
}

@media(max-width:768px){
  .container section{
    padding: 0;
  }

  .row section{
    width: 33%;
  }

  .profile-icon, .icons-container a{
    margin-right: 0;
  }

  .icons-container{
    margin-left: 70%;
  }

  a h1{
    margin-top: 10px;
    font-size: 25px;
  }
}

@media(max-width:600px){
  a h1{
    margin-top: 15px;
    font-size: 20px;
  }
  .icons-container{
    margin-left: 40%;
  }

  .icons-container #icon{
    margin-top: 5px;
    font-size: 25px;
  }
}

@media(max-width:500px){
  a h1{
    font-size: 16px;
  }

  .icons-container{
    margin-left: 50%;
  }
}

@media(max-width:414px) {
  .row section{
    width: 20%;
  }

  a h1{
    margin-left: 105px;
  }

  .icons-container{
    margin-left: 190px;
  }

  .icons-container #icon{
    font-size: 25px;
  }
}